################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FSL.NetCoreBasics.Mvc/bin/Debug/netcoreapp2.2
/FSL.NetCoreBasics.Mvc/obj
